:root {
    /* ### Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
  
    /* ### Neutral */
    /* (main BG) */
    --very-dark-blue-bg: hsl(217, 54%, 11%);
    /* (card BG) */
    --very-dark-blue-gb: hsl(216, 50%, 16%);
    /* (line) */
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
  }

  
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-blue-bg);
    min-height: 100vh;
}

.card {
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--very-dark-blue-gb);
    width: 40rem;
    border-radius: 3%; 
    padding: 2.5rem;
   
    
}

.card__box {
    margin-bottom: 20px; 
    position: relative;
    cursor: pointer;
}

.card__box .card__image img{
    border-radius: 15px;
    width: 100%;
    display: block;
}

.card__image-hover {
    position: absolute;     left: 0; top: 0; right: 0; bottom: 0;
    background-color: hsla(178, 100%, 50%, 0.479);  
    border-radius: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    opacity: 0;     transition: all 0.5s;
}

.card__image-hover img {
    width: 5rem;
}

.card__image-hover:hover {
    opacity: 1;
}

.card__title h1{
    font-size: 2.9rem;
    color: var(--white);
    padding-top: 1.2rem;
}

.card__title h1:hover {
    cursor: pointer ;
    color: var(--cyan)
}

.card__description {
    padding-top: 1.2rem;
    font-size: 1.9rem;
    color: var(--soft-blue);
    
}









.card__values {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.card__values_eth {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    
}

.card__values__eth__image {
    width: 1.5rem; 
    height: auto; 
    margin-right: 0.5rem;
}

.card__values__eth__price {
    color: var(--cyan);
    font-weight: 700;
    font-size: 1.7rem;
    padding-left: 7px;
}




.card__values_timer {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
   
}

.card__values_timer_images {
    width: 2rem; 
    height: auto; 
    margin-right: 0.5rem;
}

.card__values__timer__text {
    font-size: 2rem;
    padding-left: 7px;
    color: var(--soft-blue);
}



.card__line {
    border-bottom: 1px groove var(--very-dark-blue-line);
    width: 100%;
    padding-top: 2rem;
  }


.card__creator {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 1.5rem;
}

.card__creator__images, .card__creator__description {
    margin-right: 1.5rem;
}

.card__creator__image__jules {
    width: 5rem;
    border-radius: 50%;
    border: 2px solid var(--white);
}


.card__creator__text {
    font-size: 1.8rem;
    color:var(--soft-blue);
}

.card__creator__text--white {
    color: var(--white);
}
.card__creator__text--white:hover {
    cursor: pointer ;
    color: var(--cyan)
    
}

